html {
    scroll-behavior: smooth;
}

/* ================== HEADER ======================= */
header {
    display: flex;
    width: min(90%, 900px);
    align-items: center;
    justify-content: space-around;
    margin: 30px auto;
    height: 50px;
    border-radius: 8px;
    font-family: sans-serif;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    left: 50%;
    position: fixed;
    z-index: 2;
    transform: translateX(-50%);
    transition: top 0.2s ease;
}

header p {
    color: #FFB163;
    font-size: 25px;
}
/* ================================================= */

body {
    background-color: #FEEDCD;
}

header.scrolled {
    color: #0D9F87;
}

.section1 {
    height: 100vh;
}

.portifolioPage {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.imgagemPrincipal {
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
}

.textoImagem {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    color: #FFB163;
    text-shadow: 4px 6px 5px black;
    font-family: sans-serif;
    padding: 20px;
}

.texto1, .texto3 {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    letter-spacing: clamp(2px, 1.5vw, 12px);
    font-size: clamp(18px, 4vw, 35px);
    letter-spacing: 0.35em;
}

.texto3 {
    gap: 14em;
}

.texto1 {
    gap: 9em;
}

.texto2 {
    font-size: clamp(40px, 10vw, 80px);
}


input[type="checkbox"] {
    appearance: none;
    width: 50px;
    height: 25px;
    background: linear-gradient(91deg, #FFC32B, #CC5555); 
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: .5s;
}

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: linear-gradient(91deg, #EE7A0D, #E4CB22);
    border-radius: 50%;
    left: 2.8px;
    top: 2.9px;
    transition: .5s;
}

input[type="checkbox"]::after {
    position: absolute;
    left: 10px;
    top: 10px;
    transition: .5s;
}

input[type="checkbox"]:checked {
    background: linear-gradient(91deg, #005151, #0E1543);
}

input[type="checkbox"]:checked::before {
    background: linear-gradient(30deg, #1C082B, #0D9F87);
    left: 27px;
}

input[type="checkbox"]:checked::after {
    left: 40px;
}



@media (min-width: 601px) and (max-width: 768px) {
    
}






@media(max-width: 768px) {


    header {
        font-size: 12px;
    }
    
    header p {
        font-size: 16px;
    }





    .texto2 {
        font-size: clamp(20px, 7vw, 50px);
    }

    .texto1 {
        gap: 2em;
    }

    .texto3 {
        gap: 7em
    }
}